.landingpage {
    width: 100dvw;
    height: fit-content;
    min-height: 100dvh;
}

.marketplace {
    width: 100dvw;
    height: fit-content;
    min-height: 100dvh;
}

.login {
    width: 100dvw;
    height: fit-content;
    min-height: 100dvh;
}

.bg-image-landing {
    background: url("https://raw.githubusercontent.com/pramitbhatia25/Stearn/refs/heads/main/src/assets/27059.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}